services:
  agent1_student:
    build: .
    container_name: agent1_student
    ports:
      - "8001:8000"
    networks:
      - ai_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333

networks:
  ai_network:
    external: true
