services:
  agent2_ticket:
    build: .
    container_name: agent2_ticket
    ports:
      - "8002:8000"
    networks:
      - ai_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333

networks:
  ai_network:
    external: true
